.home{
	/*position: relative;*/
	/*only for menu*/
	min-height: 100vh;
	height: 100%;
}

.container{
	min-height: 100vh;
}

#part1{
	height: 100vh;
	background-image: linear-gradient(rgba(234, 50, 50, 0.5), rgba(234, 50, 50, 0.5)),
	url("/home/banner_sf.jpg");
	background-size: cover;
	background-position: 25% 0%;

}

.jumbotron{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#part1 h1{
	color: white;
	margin: 0;
	font-weight: 700;
	font-size: 40px;
}

#part1 p{
	color: white;
	margin: 20px 10% 20px 10%;
	font-size: 15px;
}

#contact-us {
	background-color:#EA3232;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:10px 0px;
	width: 80vw;
	text-decoration:none;
	font-weight: 700;
}

#contact-us:hover {
	background-color:white;
}

#see-product {
	background-color:white;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-size:20px;
	padding:10px 0px;
	width: 80vw;
	text-decoration:none;
	font-weight: 700;
}

#see-product:hover {
	background-color:white;
}

.button{
	margin: 10px 0;
}

.button:active {
	position:relative;
	top:1px;
}

.scroll-more{
	width: 100%; 
	position: absolute;
	bottom:0px;
}

#part2{}

#part2 h2{
	color: red;
	font-size: 30px;
	text-align: left;
	margin: 20px 20px 0 20px;
}

#part2 p{
	font-size: 17px;
	text-align: left;
	margin: 10px 20px 0 20px;
}

#more-about {
	margin: 20px 0;
	background-color:#EA3232;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:10px 0px;
	width: 60vw;
	text-decoration:none;
	font-weight: 700;
}

#more-about:hover {
	background-color:white;
}

.part2-image{
	height: 50vh;
	background-image:url("/home/ukmexpo3.jpg");
	background-size: cover;
	background-position: 0% 40%;
}

#part3{}

#part3 div{
	height: 100%
}

#part3 h2{
	color: red;
	font-size: 30px;
	margin: 20px 20px 0 20px;
}

.products h3{
	color: red;
	font-size: 25px;
	text-align: left;
	font-weight: 500;
	margin: 10px 0px 10px 10px;
}

#part4{}

#part4 div{
	height: 100%
}

#part4 h2{
	color: red;
	font-size: 30px;
	margin: 20px 20px 0 20px;
}