.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App .header{
  height: 10%;
  z-index: 10;
  position: absolute;
  width: 100%;

/*
  background-color: #6B1616;
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
*/
}

.header div{
  height: 100%;
}

.header #logo, .menu #logo{
  background-image: url("/logo1.png");
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  display: inline-block;
  float: left;
}

.header #hamburger, .menu #hamburger{
  color: white;
  float: right;
  margin: 10px 10px 0 0;
}

/*
.header .option-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-div .option{
  color: white;
  font-size: 40px;
  margin: 20px auto;
}
*/

.footer{
  background-color: #961D1D;
  height: 30px;
  vertical-align: middle;
}

.footer p{
  vertical-align: middle;
  color: white;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}